body {
    background-color: antiquewhite;
}

h1 {
    color: rgb(170, 14, 108);
    text-align: center;
}

nav {
    background-color: rgb(170, 14, 108);
    padding: 10px;
}

nav a {
    color: antiquewhite;
    display: block;
    padding: 10px;
}

main {
    max-width: 840px;
}

main img {
    width: 200px;
    height: auto;
    border: 3px solid rgb(170, 14, 108);
    padding: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #e7cd38;
    color: #0f0f0f;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

p {
  padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
